$font_shallow_black: rgba(7, 17, 27, .6);
$font_black: rgb(7, 17, 27);
$font_grey: rgb(147, 153, 159);
$font_red: rgb(240, 20, 20);
$font_white: rgba(255 , 255, 255, .4);
$font_orange: rgb(255 , 153, 0);

// 边框颜色
$border_color: rgba(7, 17, 27, .1);

$cart_bgc_white: rgba(255, 255, 255, .1);
$cart_bgc_black: #141d27;
$cart_bgc_blue: rgb(0,160,220);
$cart_bgc_green: #00b437;

// 商品详情背景
$food_bgc_grey: #f3f5f7;

// 评价背景
$rating_bgc_shallow_grey: rgba(77, 85, 93, .2);
$rating_bgc_grey: rgb(77, 85, 93);
$rating_bgc_shallow_blue:rgba(0, 160, 200, .2);
$rating_bgc_blue: rgb(0, 160, 200);

// 字体加粗
$font_weight: 700;